body {
	margin-bottom: 100px;
}

.right {
	float:right;
}
.left {
	float:left;
}
.wrapper {
	padding: 10px;
}
.jumbotron {
	padding-bottom: 10px;
}

#titlebar {
	padding-bottom: 15px;
}

#dev_info * {
	text-align: center;
}
#show_bwl .label {
	font-size: 1em;
}

@media(min-width:992px){
	.wrapper {
		width: 60%;
		margin: auto;
	}
}
@media(min-width:768px){
	.show_list li,  {
		position: relative;
	}
	.show_list li p {
		position:absolute;
		top:50%;
		transform: translate(0, -50%)
	}
	.same_height .panel-body {
		height: 200px;
		overflow: auto;
	}
	.same_height .btn {
		width:100%;
	}
}
@media(max-width:767px){
	.show_list li {
		text-align:center;
	}
}
