{% extends "layout.html" %}
{% block body %}
<div id="login">
	<form method="POST" class="form-horizontal" role="form" action="{{url_for('add_device')}}">
		<div class="form-group">
			<label for="description" class="control-label col-sm-2">Name:</label>
			<div class="col-sm-10">
				<input type="text" id="description" class="form-control" name="description" placeholder="A name or a short description"/>
			</div>
		</div>
		<div class="form-group">
			<label for="sec_code" class="control-label col-sm-2">Security Code:</label>
			<div class="col-sm-10">
				<input type="text" id="sec_code" class="form-control" name="sec_code" placeholder="Security-/Systemcode"/>
			</div>
			<div class="col-sm-offset-2 col-sm-10 help-block alert alert-info">
				<p>On the Securtity Code (first 5 pins), just type a 1 for "UP" and a 0 for "DOWN" (something like "10110").</p>
			</div>
			<br clear="left">
			<label for="dev_code" class="control-label col-sm-2">Device Code:</label>
			<div class="col-sm-10">
				<select class="form-control" id="dev_code" class="form-control" name="dev_code" >
					<option value="1">A</option>
					<option value="2">B</option>
					<option value="3">C</option>
					<option value="4">D</option>
					<option value="5">E</option>
				</select>
			</div>
			<div class="col-sm-offset-2 col-sm-10 help-block alert alert-info">
				<p>On the Device Code (the other 5 pins), only put up one pin and select "A" for the first pin "B" for the second and so on.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="place" class="control-label col-sm-2">Place:</label>
			<div class="col-sm-10">
				<input type="text" id="place" class="form-control" name="place" placeholder="Where is your new device"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
