{% extends "layout.html" %}
{% block body %}
<div id="change_password">
	<form method="POST" class="form-horizontal" role="form" action="{{url_for('change_my_password')}}">
		<div class="form-group">
			<label for="old_password" class="control-label col-sm-2">Old Password:</label>
			<div class="col-sm-10">
				<input type="password" id="old_password" class="form-control" name="old_password" placeholder="Old Password"/>
			</div>
		</div>
		<div class="form-group">
			<label for="new_password" class="control-label col-sm-2">New Password:</label>
			<div class="col-sm-10">
				<input type="password" id="new_password" class="form-control" name="new_password" placeholder="New Password"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password2" class="control-label col-sm-2">Type new Password again:</label>
			<div class="col-sm-10">
				<input type="password" id="password2" class="form-control" name="password2" placeholder="New Password"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
