{% extends "layout.html" %}
{% block body %}
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			{% if session["logged_in"] %}
				<a href="{{ url_for('add_device') }}" class="btn btn-success">+ Add Device</a>
			{% else %}
				<a href="{{ url_for('add_device') }}" class="btn btn-success disabled">+ Add Device</a>
			{% endif %}
		</div>
		<div class="btn-group">
			{% if session["logged_in"] %}
				<a href="{{ url_for('mydevices') }}" class="btn btn-primary">My Devices</a>
			{% else %}
				<a href="{{ url_for('mydevices') }}" class="btn btn-primary disabled">My Devices</a>
			{% endif %}
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
				Filter <span class="caret"></span>
			</button>
	 		<ul class="dropdown-menu" role="menu">
				<li><a href="{{url_for('devices')}}">Keiner</a></li>
				<!--
				{% if global_device_groups %}
					<li>Globale Gruppen:</li>
					{% for device_group in global_device_groups %}
						<li><a href="{{ url_for('devices') }}&dev_grp={{device_group.getId()}}">{{ device_group.getDescription() }}</a></li>
					{% endfor %}
				{% endif %}
				{% if private_device_groups %}
					<li>Private Gruppen:</li>
					{% for device_group in private_device_groups %}
						</li><a href="{{ url_for('devices') }}&dev_grp={{device_group.getId()}}">{{ device_group.getDescription() }}</a></li>
					{% endfor %}
				{% endif %}
				-->
			</ul>
		</div>
	</div>
	<br>
	
<div id="devices">
	{% for device in devices %}
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="left">
						<a data-toggle="collapse" data-target="#dev_coll_{{device.getId()}}">{{ device.getDescription() }} [{{ device.getId() }}]</a>
					</h4>
					{% if session["ssid"] and server_app.devctrl.isAllowedToChageStatus(session["ssid"],device.getId()) %}
						{% if device.getStatus() == 0 %}
							<a class="btn btn-danger right" href="{{url_for('turn_on',dev_id=device.getId())}}">Einschalten</a>
						{% else %}
							<a class="btn btn-success right" href="{{url_for('turn_off',dev_id=device.getId())}}">Ausschalten</a>
						{% endif %}
					{% else %}
						{% if device.getStatus() == 0 %}
							<a class="btn btn-danger disabled right" href="{{url_for('turn_on',dev_id=device.getId())}}">Einschalten</a>
						{% else %}
							<a class="btn btn-success disabled right" href="{{url_for('turn_off',dev_id=device.getId())}}">Ausschalten</a>
						{% endif %}
					{% endif %}
					<br clear="all">
				</div>
				<div id="dev_coll_{{device.getId()}}" class="panel-collapse collapse">
					<div class="list-group">
						<li class="list-group-item" id="dev_info">
							<p class="col-sm-3 col-xs-6">Place:<br> {{ device.getPlace() }}</p>
							<p class="col-sm-3 col-xs-6">Security Code:<br> {{ device.getSecCode() }}</p>
							<p class="col-sm-3 col-xs-6">Device Code:<br> {{ device.getDevCode() }}</p>
							{% set initiator=server_app.usrctrl.getItemById(device.getUser()) %}
							<p class="col-sm-3 col-xs-6">Besitzer:<br> <a href="{{ url_for('show_user',usr_id=initiator.getId()) }}">{{initiator.getUsername()}}</a></p>
							
							<br clear="all">
						</li>
						{% if session["logged_in"] %}
							<a class="list-group-item btn btn-block" href="{{url_for('show_device',dev_id=device.getId())}}">
								Device-Einstellungen
							</a>
						{% endif %}
						<li class="list-group-item">
							<div class="left">
							{% if device.getBwlStatus() == 0 %}
								<p>Dieses Gerät benutzt zurzeit keine Black- oder Whiteliste.<p>
							{% elif device.getBwlStatus() == 1 %}
								<p>Dieses Gerät benutzt zurzeit eine Blackliste.<p>
							{% elif device.getBwlStatus() == 2 %}
								<p>Dieses Gerät benutzt zurzeit eine Whiteliste.<p>
							{% elif device.getBwlStatus() == 3 %}
								<p>Dieses Gerät benutzt zurzeit eine undefinierte Liste.<p>
							{% else %}
								<p>Hier liegt ein Fehler vor, bitte kontaktieren sie einen Systemadministrator.<p>
							{% endif %}
							</div>
							<br clear="all">
						</li>
						{% if session["logged_in"] %}
							{% if server_app.devctrl.isAllowedToManageBwl(session["ssid"],device.getId()) %}
								</li>
								<a class="list-group-item btn btn-block" href="{{ url_for('show_bwl',dev_id=device.getId()) }}">
									BWL-Einstellungen
								</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
