{% extends "layout.html" %}
{% block body %}
<div id="edit_device">
	<form method="POST" class="form-horizontal" role="form" action="{{url_for('edit_device',dev_id=device.getId())}}">
		<div class="form-group">
			<label for="description" class="control-label col-sm-2">Name:</label>
			<div class="col-sm-10">
				<input type="text" id="description" class="form-control" name="description" value="{{ device.getDescription() }}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="sec_code" class="control-label col-sm-2">Security Code:</label>
			<div class="col-sm-10">
				<input type="text" id="sec_code" class="form-control" name="sec_code" value="{{ device.getSecCode() }}"/>
			</div>
			<div class="col-sm-offset-2 col-sm-10 help-block alert alert-info">
				<p>On the Securtity Code (first 5 pins), just type a 1 for "UP" and a 0 for "DOWN" (something like "10110").</p>
			</div>
			<br clear="left">
			<label for="dev_code" class="control-label col-sm-2">Device Code:</label>
			<div class="col-sm-10">
				<select class="form-control" id="dev_code" class="form-control" name="dev_code" >
					<option value="1" {% if device.getDevCode()==1 %}selected{% endif %}>A</option>
					<option value="2" {% if device.getDevCode()==2 %}selected{% endif %}>B</option>
					<option value="3" {% if device.getDevCode()==3 %}selected{% endif %}>C</option>
					<option value="4" {% if device.getDevCode()==4 %}selected{% endif %}>D</option>
					<option value="5" {% if device.getDevCode()==5 %}selected{% endif %}>E</option>
				</select>
			</div>
			<div class="col-sm-offset-2 col-sm-10 help-block alert alert-info">
				<p>On the Device Code (the other 5 pins), only put up one pin and select "A" for the first pin "B" for the second and so on.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="place" class="control-label col-sm-2">Place:</label>
			<div class="col-sm-10">
				<input type="text" id="place" class="form-control" name="place" value="{{device.getPlace()}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
