{% extends "layout.html" %}
{% block body %}
<div id="edit_user">
	<form method="POST" class="form-horizontal" role="form" action="{{url_for('edit_me')}}">
		<div class="form-group">
			<label for="username" class="control-label col-sm-2">Username:</label>
			<div class="col-sm-10">
				<input type="text" id="username" class="form-control" name="username" value="{{ user.getUsername() }}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="control-label col-sm-2">Email:</label>
			<div class="col-sm-10">
				<input type="text" id="email" class="form-control" name="email" value="{{ user.getEmail() }}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
