<html>
<head>
	<title>Smart Home Pi</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" typ="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="jumbotron">
		<div class="wrapper">
			<div id="titlebar" class="">
				<h1>Smart Home Pi</h1>
			</div>
			<div id="menubar" class="left">
				<a href="{{url_for('index')}}" class="btn btn-default">Home</a>
				<a href="{{url_for('devices')}}" class="btn btn-default">Devices</a>
				<a href="{{url_for('users')}}" class="btn btn-default">User</a>
			</div>
			<div id="userbar" class="right">
				{% if session['logged_in'] %}
					<a href="{{url_for('me')}}" class="btn btn-default">{{ server_app.usrctrl.getUsername(server_app.usrctrl.getEingeloggterUser(session['ssid'])) }}</a>
					<a href="{{url_for('logout')}}" class="btn btn-warning">Logout</a>
				{% else %}
					<a href="{{url_for('login')}}" class="btn btn-default">Login</a>
					<a href="{{url_for('register')}}" class="btn btn-default">Register</a>
				{% endif %}
			</div>
			<br clear="all">
		</div>
	</div>
	<div id="content">
		<div class="wrapper">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div id="flashes">
						{% for category, message in messages %}
							<div class="alert alert-{{category}} fade in">
								<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								{{ message }}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
		</div>
	</div>
	<br clear="all">
</body>
</html>
