{% extends "layout.html" %}
{% block body %}
<div id="show_me" class="show_list">
	<h3>You</h3>
	<ul id="user_info" class="list-group">
		<li class="list-group-item">
			<h4 class="col-sm-3">Id</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getId() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Username</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getUsername() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Password</h4>
			<p class="col-sm-offset-3 col-sm-9">*****</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Hierarchy Level</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ server_app.hlctrl.getDescription(user.getHierarchyLvl()) }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Email</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getEmail() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
	</ul>
	 <div class="btn-group btn-group-justified">
		<a href="{{url_for('edit_me')}}" class="btn btn-primary">Edit Me</a>
		<a href="{{url_for('change_my_password')}}" class="btn btn-warning">Change Password</a>
		<a href="{{url_for('del_user',usr_id=user.getId())}}" class="btn btn-danger" onclick="return window.confirm('Ihren Account wirklich löschen?');">Delete Me</a>
	</div>
</div>
{% endblock %}
