{% extends "layout.html" %}
{% block body %}
<div id="register">
	<form method="POST" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="username" class="control-label col-sm-2">Username:</label>
			<div class="col-sm-10">
				<input type="text" id="username" class="form-control" name="username" placeholder="Your username"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label col-sm-2">Password:</label>
			<div class="col-sm-10">
				<input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
			</div>
		</div>
		<div class="form-group">
			<label for="password2" class="control-label col-sm-2">Type Password again:</label>
			<div class="col-sm-10">
				<input type="password" id="password2" class="form-control" name="password2" placeholder="Password"/>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="control-label col-sm-2">E-Mail:</label>
			<div class="col-sm-10">
				<input type="email" id="email" class="form-control" name="email" placeholder="E-Mail"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
