{% extends "layout.html" %}
{% block body %}
<div id="show_user" class="show_list">
	<h3>{{user.getUsername()}}</h3>
	<ul id="user_info" class="list-group">
		<li class="list-group-item">
			<h4 class="col-sm-3">Id</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getId() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Username</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getUsername() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Password</h4>
			<p class="col-sm-offset-3 col-sm-9">*****</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Hierarchy Level</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ server_app.hlctrl.getDescription(user.getHierarchyLvl()) }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Email</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ user.getEmail() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
	</ul>
	{% if session["logged_in"] %}
		 <div class="btn-group btn-group-justified">
			{% if server_app.usrctrl.selfHasPermissionOn(session["ssid"],18,user.getHierarchyLvl()) %}
				<a href="{{url_for('upgrade',usr_id=user.getId())}}" class="btn btn-success">Upgrade</a>
			{% else %}
				<a href="{{url_for('upgrade',usr_id=user.getId())}}" class="btn btn-success disabled">Upgrade</a>
			{% endif %}
			{% if server_app.usrctrl.selfHasPermissionOn(session["ssid"],19,user.getHierarchyLvl()) %}
				<a href="{{url_for('downgrade',usr_id=user.getId())}}" class="btn btn-warning">Downgrade</a>
			{% else %}
				<a href="{{url_for('downgrade',usr_id=user.getId())}}" class="btn btn-warning disabled">Downgrade</a>
			{% endif %}
		</div>
		 <div class="btn-group btn-group-justified">
			{% if server_app.usrctrl.selfHasPermissionOn(session["ssid"],1,user.getHierarchyLvl()) %}
				<a href="{{url_for('reset_password',usr_id=user.getId())}}" class="btn btn-warning" onclick="return window.confirm('Passwort zurück setzen?');">Reset Password</a>
			{% else %}
				<a href="{{url_for('reset_password',usr_id=user.getId())}}" class="btn btn-warning disabled">Reset Password</a>
			{% endif %}
			{% if server_app.usrctrl.selfHasPermissionOn(session["ssid"],2,user.getHierarchyLvl()) %}
				<a href="{{url_for('del_user',usr_id=user.getId())}}" class="btn btn-danger" onclick="return window.confirm('User löschen?');">Delete User</a>
			{% else %}
				<a href="{{url_for('del_user',usr_id=user.getId())}}" class="btn btn-danger disabled">Delete User</a>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}
