{% extends "layout.html" %}
{% block body %}
<div id="show_device" class="show_list">
	<h3>{{device.getDescription()}}</h3>
	<ul id="device_info" class="list-group">
		<li class="list-group-item">
			<h4 class="col-sm-3">Name</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ device.getDescription() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Id</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ device.getId() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Security Code</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ device.getSecCode() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Device Code</h4>
			{% if device.getDevCode()==1 %}<p class="col-sm-offset-3 col-sm-9">A (1)</p>{% endif %}
			{% if device.getDevCode()==2 %}<p class="col-sm-offset-3 col-sm-9">B (2)</p>{% endif %}
			{% if device.getDevCode()==3 %}<p class="col-sm-offset-3 col-sm-9">C (3)</p>{% endif %}
			{% if device.getDevCode()==4 %}<p class="col-sm-offset-3 col-sm-9">D (4)</p>{% endif %}
			{% if device.getDevCode()==5 %}<p class="col-sm-offset-3 col-sm-9">E (5)</p>{% endif %}
			<br clear="all" class="hidden-xs">
		</li>
		<li class="list-group-item">
			<h4 class="col-sm-3">Place</h4>
			<p class="col-sm-offset-3 col-sm-9">{{ device.getPlace() }}</p>
			<br clear="all" class="hidden-xs">
		</li>
	</ul>
	 <div class="btn-group btn-group-justified">
		<a href="{{url_for('edit_device',dev_id=device.getId())}}" class="btn btn-primary">Edit Device</a>
		<a href="{{url_for('del_device',dev_id=device.getId())}}" class="btn btn-danger" onclick="return window.confirm('Gerät löschen?');">Delete Device</a>
	</div>
</div>
{% endblock %}
