{% extends "layout.html" %}
{% block body %}
<div id="show_bwl">
	<h3>{{device.getDescription()}}</h3>
	<div class="container">
		<h4>Selected type:</h4>
		<div class="btn-group">
			<button type="button" class="btn btn-primary">
				{% if device.getBwlStatus() == 0 %}No List{% endif %}
				{% if device.getBwlStatus() == 1 %}Blacklist{% endif %}
				{% if device.getBwlStatus() == 2 %}Whitelist{% endif %}
				{% if device.getBwlStatus() > 2 %}Error{% endif %}
			</button>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				&nbsp;<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li {% if device.getBwlStatus() == 0 %}class="disabled"{% endif %}><a href="{{ url_for('change_bwl_status',dev_id=device.getId(),bwl_status=0)}}">No List</a></li>
				<li {% if device.getBwlStatus() == 1 %}class="disabled"{% endif %}><a href="{{ url_for('change_bwl_status',dev_id=device.getId(),bwl_status=1)}}">Blacklist</a></li>
				<li {% if device.getBwlStatus() == 2 %}class="disabled"{% endif %}><a href="{{ url_for('change_bwl_status',dev_id=device.getId(),bwl_status=2)}}">Whitelist</a></li>
			</ul>
		</div>
	</div>
	<br clear="all">
	<div class="panel-group col-sm-6 same_height">
		<div class="panel {% if device.getBwlStatus() == 1 %}panel-primary{% else %}panel-info{% endif %}">
			<div class="panel-heading">Blacklist</div>
			<ul class="panel-body list-group">
				{% if blacklisted_users %}
					{% for id_user in blacklisted_users %}
						<li class="list-group-item">{{server_app.usrctrl.getUsername(id_user)}}<a href="{{ url_for('bwl_remove_usr_from_blacklist',dev_id=device.getId(),usr_id=id_user) }}" class="label btn-danger pull-right">- Remove</a></li>
					{% endfor %}
				{% else %}
					<li class="list-group-item">No users in this list.</li>
				{% endif %}
			</ul>
			<div class="panel-footer btn-group col-xs-12 dropup">
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					+ Add User <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for user in server_app.usrctrl.getAllItems() %}
						{% if not user.getId() == device.getUser() %}
							{% if blacklisted_users %}
								{% if not user.getId() in blacklisted_users %}
									<li ><a href="{{ url_for('bwl_add_usr_to_blacklist',dev_id=device.getId(),usr_id=user.getId()) }}">{{user.getUsername()}}</a></li>
								{% endif %}
							{% else %}
								<li ><a href="{{ url_for('bwl_add_usr_to_blacklist',dev_id=device.getId(),usr_id=user.getId()) }}">{{user.getUsername()}}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<br clear="all">
		</div>
	</div>
	<br clear="all" class="visible-xs-inline">
	<div class="panel-group col-sm-6 same_height">
		<div class="panel {% if device.getBwlStatus() == 2 %}panel-primary{% else %}panel-info{% endif %}">
			<div class="panel-heading">Whitelist</div>
			<ul class="panel-body list-group">
				{% if whitelisted_users %}
					{% for id_user in whitelisted_users %}
						<li class="list-group-item">{{server_app.usrctrl.getUsername(id_user)}}<a href="{{ url_for('bwl_remove_usr_from_whitelist',dev_id=device.getId(),usr_id=id_user) }}" class="label btn-danger pull-right">- Remove</a></li>
					{% endfor %}
				{% else %}
					<li class="list-group-item">No users in this list.</li>
				{% endif %}
			</ul>
			<div class="panel-footer btn-group col-xs-12 dropup">
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					+ Add User <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for user in server_app.usrctrl.getAllItems() %}
						{% if not user.getId() == device.getUser() %}
							{% if whitelisted_users %}
								{% if not user.getId() in whitelisted_users %}
									<li ><a href="{{ url_for('bwl_add_usr_to_whitelist',dev_id=device.getId(),usr_id=user.getId()) }}">{{user.getUsername()}}</a></li>
								{% endif %}
							{% else %}
								<li ><a href="{{ url_for('bwl_add_usr_to_whitelist',dev_id=device.getId(),usr_id=user.getId()) }}">{{user.getUsername()}}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<br clear="all">
		</div>
	</div>
</div>
{% endblock %}
