{% extends "layout.html" %}
{% block body %}
<div id="users">
	{% for user in users %}
		<div>
			<a href="{{url_for('show_user',usr_id=user.getId())}}">{{user.getUsername()}}</a> {{ user.getEmail() }} ({{ user.getId() }})
		</div>
	{% endfor %}
</div>
{% endblock %}
