<html>
<head>
	<title>Smart Home Pi Client</title>
</head>
<body>
	<div id="wrapper">
		<div id="jumbotron">
			<div id="titlebar">
				<h1>Smart Home Pi</h1>
			</div>
			<div id="menubar">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/devices">Devices</a></li>
					<li><a href="/user">User</a></li>
				</ul>
			</div>
			<div id="userbar">
				<ul>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
					{% if me %}
						<li><a href="/me">{{ me.getUsername }}</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		<div id="content">
			<!-- Filtert die Geräte nach Device Groups. 
			<div id="filterbar">
				Filter: 
				<select>
					<option value="0">Keiner</option>
					{% if global_device_groups %}
						<option>Globale Gruppen:</option>
						{% for device_group in global_device_groups %}
							<option value="{{ device_group.getId() }}">{{ device_group.getDescription() }}</option>	
						{% endfor %}
					{% endif %}
					{% if private_device_groups %}
						<option>Private Gruppen:</option>
						{% for device_group in private_device_groups %}
							<option value="{{ device_group.getId() }}">{{ device_group.getDescription() }}</option>	
						{% endfor %}
					{% endif %}
				</select>
			</div>
			-->
			<div id="devices">
				{% for server_ in server %}
					<div>
						{{ server_.getIpAdress() }} 
					</div>
				{% endfor %}
			</div>
			<div id="send">
				<form method="POST" action="/send">
					<h2>Send</h2>
					<p>
						<label for="key">Verification Key:</label>
						<input type="text" id="key" name="key"/>
					</p>
					<p>
						<label for="dev_code">Device Code:</label>
						<input type="dev_code" id="dev_code" name="dev_code"/>
					</p>
					<p>
						<label for="sec_code">Security Code:</label>
						<input type="sec_code" id="sec_code" name="sec_code"/>
					</p>
					<p>
						<label for="status">Status:</label>
						<input type="status" id="status" name="status"/>
					</p>
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
